{% extends 'index.html' %}

{% block body %}
<h1>Create an Accont</h1>
<form action="/signup" method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password"  name="password" required>
    </div>
    
    <button type="submit" class="btn btn-primary mt-4">Sign up</button>
</form>
<a href="/">Login with your account</a>
{% endblock %}
