{% extends 'index.html' %}

{% block body %}
<h1>Update Task</h1>
<div class="form">
    <form action="/update/{{user_id}}/{{task.id}}" method="POST">
        <div class="mb-3">
            <label for="task_name" class="form-label">Task name</label>
            <input type="text" class="form-control" id="task_name" name="task_name" required value="{{task.task_name}}">
        </div>
        <div class="mb-3">
            <label for="task_due_date" class="form-label">Due date</label>
            <input type="date" class="form-control datepicker" id="task_due_date"  name="task_due_date" required value="{{task.due_date}}">
        </div>
        
        <button type="submit" class="btn btn-primary mt-4">Update</button>
        <a href="/user/{{user_id}}/tasks" class="btn btn-primary mt-4">Back</a>
    </form>
</div>
{% endblock %}
